@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-*: initial;
  --color-white: #fff;
  --color-primary: #c0e3e5;
  --color-success: #c0e3e5;
  --color-success: #c0e3e5;
  --color-warning: #fdc936;
}

.cell-move {
  animation: moveAnimation 0.3s ease-out;
}

@keyframes moveAnimation {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
